<!--
Copyright (C) 2012 Jon Schang

This file is part of IntersectionPMVC, released under the LGPLv3

IntersectionPMVC is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

IntersectionPMVC is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with IntersectionPMVC.  If not, see <http://www.gnu.org/licenses/>.
-->
<objects xmlns="urn:IPMVC_Model_NodeUnmarshaller_IoCContainer">

	<object scope="singleton" id='http-response' class='IPMVC_Response'/>
	<object scope="singleton" id='http-request' class='IPMVC_Request'>
		<constructor-arguments>
			<param value="$_SERVER"/>
			<param value="$_GET"/>
			<param value="$_POST"/>
		</constructor-arguments>
	</object>
	<object id='http-router' scope="singleton" class='IPMVC_Router'>
		<property name="routingModel" ref="routing-model"/>
	</object>
	
	<object id="routing-model" scope="singleton" class="IPMVC_Model_Routing">
		<constructor-arguments>
			<param factory-ref="resource-selector" factory-method="getResource">
				<constructor-arguments>
					<param value="site-root://conf/routing.xml"/>
				</constructor-arguments>
			</param>
		</constructor-arguments>
		<property name="ioCContainer" ref="this"/>
	</object>
	
	<object id="resource-selector-file" scope="singleton" class="IPMVC_Resource_Selector_File"/>
	<object id="resource-selector-portlet" scope="singleton" class="IPMVC_Resource_Selector_Portlet">
		<property name="portletModel" ref="portlet-model"/>
	</object>
	<object id="resource-selector-portlet-page" scope="singleton" class="IPMVC_Resource_Selector_PortletPage">
		<property name="portletPageModel" ref="portlet-page-model"/>
	</object>
	<object id='resource-selector' scope='singleton' class='IPMVC_Resource_Selector'>
		<property name='protocolHandlers'>
			<value ref="resource-selector-file"/>
			<value ref="resource-selector-portlet"/>
			<value ref="resource-selector-portlet-page"/>
		</property>
	</object>
	
	<object id="portlet-model" scope="singleton" class="IPMVC_Model_Portlet">
		<property name="ioCContainer" ref="this"/>
		<property name="resourceSelector" ref="resource-selector"/>
	</object>
	
	<object id="portlet-page-prototype" class="IPMVC_PortletPage_Generic">
		<property name="styleSheets">
			<value class="IPMVC_PortletPage_Link">
				<property name="uri" value="css/grid.css"/>
			</value>
		</property>
	</object>
	<object id="portlet-page-node-parser" scope="singleton" class="IPMVC_Model_NodeUnmarshaller_PortletPage">
		<property name="portletPagePrototype" value="portlet-page-prototype"/>
	</object>
	<object id="portlet-page-model" scope="singleton" class="IPMVC_Model_PortletPage">
		<property name="ioCContainer" ref="this"/>
		<property name="resourceSelector" ref="resource-selector"/>
	</object>
	<object id="portlet-page-controller" scope="prototype" class="IPMVC_Controller_PortletPage">
		<property name="ioCContainer" ref="this"/>
		<property name="resourceSelector" ref="resource-selector"/>
	</object>
	
</objects>